################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ZepterApi/.vs/ZepterApi
/ZepterApi/ZepterApi/bin/Debug/net8.0
